@mixin column {
    display: flex;
    flex-direction: column;
}
@mixin row {
    display: flex;
    flex-direction: row;
}

@mixin field-wrapper {
    ::placeholder {
        font: $caption;
        color: $bluish-grey;
    }
}
@mixin field-icon {
    position: absolute;
    margin-top: .5rem;
    margin-left: .5rem;
    color: $med-blue;
}
@mixin field-input {
    background-color: white;
    color: $med-blue;
    border-radius: $s-corner;
    padding: .25rem;
}