@mixin column {
    display: flex;
    flex-direction: column;
}
@mixin row {
    display: flex;
    flex-direction: row;
}

@mixin input-field {
    display: inline-block;
    background-color: white;
    color: $med-blue;
    border-radius: $s-corner;
    ::placeholder {
        font: $caption;
        color: $bluish-grey;
    }
    svg {
        position: absolute;
        margin-top: .5rem;
        margin-left: .5rem;
    }
    input[type=text] {
        background: none;
        border-radius: $s-corner;
    }
}