@mixin column {
    display: flex;
    flex-direction: column;
}
@mixin row {
    display: flex;
    flex-direction: row;
}

@mixin field-wrapper {
    ::placeholder {
        font: $caption;
        color: $bluish-grey;
    }
}
@mixin field-icon {
    position: absolute;
    margin-top: .5rem;
    margin-left: .5rem;
    color: $med-blue;
}
@mixin field-input {
    background-color: white;
    color: $med-blue;
    border-radius: $s-corner;
    padding: .25rem;
}
@mixin button {
    padding: 1rem 1.75rem;
    color: $dark-blue;
    border: .0625rem solid $bluish-grey;
    border-radius: $s-corner;
    cursor: pointer;
    &:hover {
        border-color: $med-blue;
        background-color: $med-blue;
        color: white;
        transition: .2s;
    }
}
@mixin button-alt {
    padding: 1rem 1.75rem;
    color: white;
    border: .0625rem solid $bluish-grey;
    border-radius: $s-corner;
    cursor: pointer;
    &:hover {
        border-color: $med-blue;
        background-color: white;
        color: $med-blue;
        transition: .2s;
    }
}