// Fonts
$headline: 2.65rem "Poppins", sans-serif;
$subheadline: 1.25rem "Poppins", sans-serif;
$body: 1rem "Rubik", sans-serif;
$caption: 300 0.75rem "Rubik", sans-serif;

// Colors
$not-so-black: #3A3B4D;
$dark-blue: #22334F;
$med-blue: #315366;
$light-blue: #B3CED3;
$bluish-grey: #A3B1B9;
$grey: #EEEEEE;

// Border Radius Boxes
$s-corner: .125rem;
$m-corner: .25rem;
$l-corner: .5rem;